In [ ]:
#18th July,2022

In [ ]:
a = input('Enter the weather condition')
if(a == 'summer'):
  print('It is summer season')
elif(a == 'winter'):
  print('It is winter season')
elif(a == 'monsoon'):
  print('It is rainy season')
else:
  print('Invalid Input')

In [2]:
#LOOPS - WHILE,FOR
#WHILE
#WAP to print numbers from 0 to 9
a = 0
while(a<10):
  print(a,end = '')
  a+=2 #a = a+1

02468

In [1]:
#WAP for 2 tables(2 x 1 = 2........2 x 10 = 20)
i = 1
n = 2
while(i <= 10):
  print(n, 'x' , i , '=' ,n*i)
  i = i + 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [3]:
#FOR LOOP
#WAP to print numbers from 1 to 10
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(1,11,2): # 1,11 is the range and 2 is the step size of increment
  print(i)

1
3
5
7
9

In [5]:
#decrement
#whenever decrement is being done , it always happens from a greater number
for i in range(11,1,-2):
  print(i)

11
9
7
5
3

In [ ]:
# WAP to display the no 3 tables using for loop

In [ ]:
#FUNCTIONS - 1.BUILTIN - print(),input(),len(),min(),max()
#2.USER DEFINED FUNCTIONS

In [ ]:
#whenever a particular function is defined , it should always be called

In [ ]:
#function definition
def add():    #add() is my function name 
  a = 25
  b = 15
  sum = a + b
  print(sum)

In [ ]:
#function call
add()
add()

In [ ]:
#type 2
def add(a,b):
  result = a + b
  print("Sum of a and b is ",result)

In [ ]:
add(25,15)

In [ ]:
#For a function to return a value,we can use the return statement 
def add(a,b):
  result = a + b
  return result

In [ ]:
result = add(15,25)
print(result)

In [ ]:
#FILE HANDLING - something related to files

In [6]:
%%writefile abc.txt
#here we are creating a .txt file using the magic command %%writefile
#%%writefile is a magic command to create a file with name abc and extension .txt
This is a demo file
Created only for testing

Writing abc.txt

In [7]:
%%writefile xyz.py
print('HELLO WORLD')

Writing xyz.py

In [ ]:
#SEQUENCES IN PYTHON - similar to variables
#Sequences are containers,where certain items of same or different datatypes could be stores
#1.LIST,2.TUPLE,3.SET,DICTIONARY

In [8]:
#LIST - [] - MUTABLE(could be changed),ORDERED,ALLOWS DUPLICATES
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [9]:
type(a)

list

In [ ]:
b = [25,'Hello World',2.7,True]
b

In [ ]:
fruits = ['Mango','Apple','Grapes']
fruits

In [ ]:
#OPERATIONS on a LIST
#It adds a particular element with the name 'banana'.It adds banana at the end
fruits.append('banana')
fruits

In [ ]:
#add an element based on index
fruits.insert(2,'Cherry') #It adds cherry at index no 2
fruits

In [ ]:
#remove one 'banana' from the fruits list
fruits.remove('banana')
fruits

In [ ]:
#To remove any element in the list based on index
fruits.pop(1) # removes the element at index no 1

In [ ]:
fruits

In [ ]:
fruits.reverse() # It reverses the order of my list - fruits

In [ ]:
fruits

In [ ]:
veggies = ['Carrot','Tomato','Capsicum']
veggies

In [ ]:
fruits.extend(veggies)#It merges both the lists

In [ ]:
fruits

In [ ]:
#TUPLE -() - ORDERED,IMMUTABLE,ALLOW DUPLICATES

In [10]:
t = (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [11]:
type(t)

tuple

In [12]:
u = (1,2,3,4,5,6,1,2)
u

(1, 2, 3, 4, 5, 6, 1, 2)

In [ ]:
u.append(5) # tuples are immutable

In [14]:
v = ('Hello',True,25,37.2)
v

('Hello', True, 25, 37.2)

In [ ]:
#SET -{} - UNORDERED,DOESNOT ALLOW DUPLICATES,UNION,INTERSECTION,IMMUTABLE

In [ ]:
a = {1,2,3,4,5}
a

In [ ]:
type(a)

In [ ]:
c = {1,2,3,1,2,True,'Welcome',25.6,25.6}
c

In [16]:
x = {1,2,3,4,5,6,7,8,9,10}
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [17]:
y = {5,6,7,8,9,10,11,12,13,14}
y

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [18]:
#UNION of 2 SETS
x | y

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [19]:
#INTERSECTION of 2 SETS
x & y

{5, 6, 7, 8, 9, 10}

In [ ]:
#DICTIONARY - MUTABLE
#syntax - dict = {'key1':'value1','key2':'values'}
data = {1:'Python',2:'Java',3:'C++'}
data

In [ ]:
type(data)

In [ ]:
cars = {'brand':['Maruti','Ford','Volvo'],'passings':[3,7,19]}
cars